@font-face {
  font-family: ClashDisplay;
  font-display: swap;
  src: url(../fonts/ClashDisplay-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: ClashDisplay;
  font-display: swap;
  src: url(../fonts/ClashDisplay-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: ClashDisplay;
  font-display: swap;
  src: url(../fonts/ClashDisplay-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-facebook:before {
  content: "\e900"
}
._icon-insta:before {
  content: "\e901"
}
._icon-linkedin:before {
  content: "\e902"
}
._icon-x:before {
  content: "\e903"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #111;
  line-height: 1;
  font-family: ClashDisplay;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: ClashDisplay;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 68.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  background-color: transparent;
  border-radius: 0!important;
  width: 100%;
  display: block;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .5s;
  transition: opacity .5s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .5s;
  transition: opacity .5s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .5s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: absolute;
  min-width: 100%;
  min-height: 4.375rem;
  position: fixed;
  z-index: 5;
  background-color: #fff
}
.header__container {
  display: flex;
  margin-top: .625rem
}
.header__logo {
  max-height: 3.125rem
}
.header__button {
  display: flex;
  justify-content: center;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-end
}
.header__button button {
  transition: all .7s;
  flex-shrink: 0;
  color: #fff;
  background: #540b77;
  padding: .5rem 1.25rem;
  border-radius: .25rem;
  line-height: 150%
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center
}
.menu__list {
  display: flex;
  gap: 2rem
}
.menu__link {
  transition: color .3s
}
.icon-menu {
  align-self: center;
  display: none
}
.social-header {
  display: none
}
.social-header__link {
  color: #f2f2f2;
  font-size: 1.125rem
}
.footer__container {
  display: flex;
  flex-direction: column
}
.footer__content {
  display: flex;
  justify-content: space-between;
  border-bottom: #000 solid .0625rem
}
.footer__row {
  display: flex;
  justify-content: space-between
}
.footer__rights {
  font-size: .875rem
}
.menu-footer__list {
  display: flex;
  gap: 2rem
}
.menu-footer__link {
  transition: color .3s
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.subscribe__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%
}
.subscribe__form {
  display: flex;
  position: relative;
  gap: 1rem
}
.subscribe__form .form__error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: .875rem;
  color: red;
  margin-top: .1875rem
}
.subscribe__input {
  border: #000 solid 1px;
  padding: .75rem 1.5rem
}
.subscribe__button {
  border: #000 solid 1px;
  padding: .75rem 1.5rem;
  transition: all .3s
}
.subscribe__subtitle {
  font-size: 12px;
  line-height: 150%
}
.social-footer {
  display: flex;
  gap: .75rem
}
.social-footer__link {
  transition: color .4s
}
.hero {
  margin-top: 4.375rem;
  display: flex;
  position: relative;
  justify-content: flex-start
}
.hero__box::after {
  content: "";
  background-color: #8b0ac8;
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 70%;
  height: .25rem
}
.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.hero__title {
  color: #333;
  font-weight: 600;
  line-height: 117.5%;
  opacity: .5;
  text-transform: uppercase
}
.hero__subtitle {
  color: #111;
  line-height: 117.5%;
  opacity: .5;
  text-transform: uppercase
}
.hero__block {
  display: flex
}
.hero__text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6875rem
}
.hero__credo {
  color: #4f4f4f;
  font-weight: 400;
  line-height: 129%;
  max-width: 26.9375rem
}
.hero__mouse {
  position: absolute;
  width: 3.4375rem;
  height: 4.4375rem;
  top: 12.5rem;
  right: .625rem
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(26rem,1fr))
}
.projects__card {
  justify-self: center
}
.card-projects {
  -webkit-transform: translate(0,10%);
  transform: translate(0,10%);
  opacity: 0;
  transition: all .2s
}
.card-projects._watcher-view {
  transition: all 2s;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.card-projects__image img {
  max-height: 21.125rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .3s ease-in-out
}
.card-projects__title {
  line-height: 150%
}
.card-projects__description {
  color: #333;
  line-height: 120%;
  transition: color .3s
}
.about {
  background: #240234
}
.about__container {
  display: flex;
  gap: 4.25rem
}
.about__block {
  display: flex;
  flex-direction: column
}
.about__text {
  color: #f2f2f2;
  max-width: 27.9375rem;
  font-size: 1.125rem;
  line-height: 150%
}
.about__text p:not(:last-child) {
  margin-bottom: .625rem
}
.block-about {
  color: #f2f2f2
}
.block-about__subtitle {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 150%
}
.block-about__title {
  margin-bottom: 3.5rem;
  font-weight: 500;
  line-height: 120%
}
.block-about__image {
  max-width: 31.3125rem
}
@media (min-width:68.125em) {
  .header__container {
    gap: 3.75rem
  }
  .footer__container {
    gap: 4rem
  }
  .footer__content {
    padding-bottom: 4rem
  }
  .footer__logo {
    margin-bottom: 2rem
  }
  .footer__row {
    margin-bottom: 5rem
  }
  .social-footer__link {
    font-size: 1.5rem
  }
  .hero {
    margin-bottom: 15.75rem
  }
  .hero__bg {
    top: 1.875rem
  }
  .hero__bg {
    right: 16.25rem
  }
  .hero__content {
    padding-left: 4.375rem
  }
  .hero__title {
    font-size: 14.0625rem
  }
  .hero__subtitle {
    font-size: 14.0625rem
  }
  .hero__block {
    gap: 4.1875rem
  }
  .hero__star {
    width: 4.3125rem
  }
  .hero__credo {
    font-size: 2.5rem
  }
  .projects__container {
    gap: 5.9375rem
  }
  .projects__container {
    margin-bottom: 11.5625rem
  }
  .projects__card {
    width: 26rem
  }
  .card-projects__image {
    margin-bottom: 1.75rem
  }
  .card-projects__image img {
    width: 26rem
  }
  .card-projects__title {
    margin-bottom: 1rem
  }
  .card-projects__description {
    font-size: 2.5rem
  }
  .about__container {
    margin-bottom: 6.6875rem
  }
  .about__container {
    padding-top: 6.6875rem
  }
  .about__container {
    padding-bottom: 8.125rem
  }
  .block-about__title {
    font-size: 3rem
  }
}
@media (max-width:20em) {
  .header__container {
    gap: .9375rem
  }
  .footer__container {
    gap: 1.375rem
  }
  .footer__content {
    padding-bottom: 1.375rem
  }
  .footer__logo {
    margin-bottom: .625rem
  }
  .footer__row {
    margin-bottom: 3.125rem
  }
  .social-footer__link {
    font-size: 1.125rem
  }
  .hero {
    margin-bottom: 6.25rem
  }
  .hero__bg {
    top: -4.375rem
  }
  .hero__bg {
    right: .0000000625rem
  }
  .hero__content {
    padding-left: .0000000625rem
  }
  .hero__title {
    font-size: 4.6875rem
  }
  .hero__subtitle {
    font-size: 5.625rem
  }
  .hero__block {
    gap: 2rem
  }
  .hero__star {
    width: 2.8125rem
  }
  .hero__credo {
    font-size: 1.0625rem
  }
  .projects__container {
    gap: 5rem
  }
  .projects__container {
    margin-bottom: 6.25rem
  }
  .projects__card {
    width: 18.75rem
  }
  .card-projects__image {
    margin-bottom: .9375rem
  }
  .card-projects__image img {
    width: 18.75rem
  }
  .card-projects__title {
    margin-bottom: .625rem
  }
  .card-projects__description {
    font-size: 1.5625rem
  }
  .about__container {
    margin-bottom: 3.125rem
  }
  .about__container {
    padding-top: 2.4375rem
  }
  .about__container {
    padding-bottom: 3.1875rem
  }
  .block-about__title {
    font-size: 2.1875rem
  }
}
@media (max-width:61.99875em) {
  .card-projects__image img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
  }
}
@media (max-width:47.99875em) {
  .header__container {
    display: grid;
    grid-template-columns: auto 1fr auto auto
  }
  .header__button {
    flex: 0 0 176px
  }
  .menu__body {
    background: #1f042c;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 4.375rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #1f042c
  }
  .menu-open .menu__body {
    color: #fff;
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    display: flex;
    flex-direction: column
  }
  .menu__list:not(:last-child) {
    -webkit-column-gap: 1.75rem;
    -moz-column-gap: 1.75rem;
    column-gap: 1.75rem
  }
  .menu__item {
    padding: .625rem;
    border-bottom: 1px solid #f2f2f2
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: rgba(201,86,255,.75)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .social-header {
    display: flex;
    justify-content: space-around
  }
  .footer__content {
    flex-direction: column
  }
  .menu-footer__list {
    margin-bottom: 1.625rem
  }
  .subscribe__form {
    flex-direction: column
  }
  .subscribe__input {
    align-self: flex-start
  }
  .subscribe__button {
    align-self: flex-start
  }
  .hero__content {
    padding-left: .625rem;
    padding-right: .625rem
  }
  .hero__block {
    flex-direction: column
  }
  .hero__text {
    flex-direction: column;
    gap: .5625rem
  }
  .hero__mouse {
    position: sticky
  }
  .about__container {
    flex-direction: column
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .subscribe__input {
    width: 18.75rem
  }
}
@media (max-width:29.99875em) {
  .header__button button {
    font-size: .875rem
  }
  .projects__container {
    grid-template-columns: repeat(auto-fill,minmax(18.75rem,1fr))
  }
}
@media (min-width:20em) and (max-width:68.125em) {
  @supports (gap:clamp(0.9375rem ,-0.2313311688rem + 5.8441558442vw ,3.75rem)) {
    .header__container {
      gap: clamp(.9375rem ,-.2313311688rem + 5.8441558442vw ,3.75rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,-0.2313311688rem + 5.8441558442vw ,3.75rem)) {
    .header__container {
      gap: calc(.9375rem + 2.8125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (gap:clamp(1.375rem ,0.2840909091rem + 5.4545454545vw ,4rem)) {
    .footer__container {
      gap: clamp(1.375rem ,.2840909091rem + 5.4545454545vw ,4rem)
    }
  }
  @supports not (gap:clamp(1.375rem ,0.2840909091rem + 5.4545454545vw ,4rem)) {
    .footer__container {
      gap: calc(1.375rem + 2.625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(1.375rem ,0.2840909091rem + 5.4545454545vw ,4rem)) {
    .footer__content {
      padding-bottom: clamp(1.375rem ,.2840909091rem + 5.4545454545vw ,4rem)
    }
  }
  @supports not (padding-bottom:clamp(1.375rem ,0.2840909091rem + 5.4545454545vw ,4rem)) {
    .footer__content {
      padding-bottom: calc(1.375rem + 2.625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.0535714286rem + 2.8571428571vw ,2rem)) {
    .footer__logo {
      margin-bottom: clamp(.625rem ,.0535714286rem + 2.8571428571vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.0535714286rem + 2.8571428571vw ,2rem)) {
    .footer__logo {
      margin-bottom: calc(.625rem + 1.375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.3457792208rem + 3.8961038961vw ,5rem)) {
    .footer__row {
      margin-bottom: clamp(3.125rem ,2.3457792208rem + 3.8961038961vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.3457792208rem + 3.8961038961vw ,5rem)) {
    .footer__row {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9691558442rem + 0.7792207792vw ,1.5rem)) {
    .social-footer__link {
      font-size: clamp(1.125rem ,.9691558442rem + .7792207792vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9691558442rem + 0.7792207792vw ,1.5rem)) {
    .social-footer__link {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,2.3019480519rem + 19.7402597403vw ,15.75rem)) {
    .hero {
      margin-bottom: clamp(6.25rem ,2.3019480519rem + 19.7402597403vw ,15.75rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,2.3019480519rem + 19.7402597403vw ,15.75rem)) {
    .hero {
      margin-bottom: calc(6.25rem + 9.5 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (top:clamp(-4.375rem ,-6.9724025974rem + 12.987012987vw ,1.875rem)) {
    .hero__bg {
      top: clamp(-4.375rem ,-6.9724025974rem + 12.987012987vw ,1.875rem)
    }
  }
  @supports not (top:clamp(-4.375rem ,-6.9724025974rem + 12.987012987vw ,1.875rem)) {
    .hero__bg {
      top: calc(-4.375rem + 6.25 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (right:clamp(0.0000000625rem ,-6.7532466648rem + 33.7662336364vw ,16.25rem)) {
    .hero__bg {
      right: clamp(.0000000625rem ,-6.7532466648rem + 33.7662336364vw ,16.25rem)
    }
  }
  @supports not (right:clamp(0.0000000625rem ,-6.7532466648rem + 33.7662336364vw ,16.25rem)) {
    .hero__bg {
      right: calc(.0000000625rem + 16.2499999375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-1.8181817297rem + 9.090908961vw ,4.375rem)) {
    .hero__content {
      padding-left: clamp(.0000000625rem ,-1.8181817297rem + 9.090908961vw ,4.375rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-1.8181817297rem + 9.090908961vw ,4.375rem)) {
    .hero__content {
      padding-left: calc(.0000000625rem + 4.3749999375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(4.6875rem ,0.7913961039rem + 19.4805194805vw ,14.0625rem)) {
    .hero__title {
      font-size: clamp(4.6875rem ,.7913961039rem + 19.4805194805vw ,14.0625rem)
    }
  }
  @supports not (font-size:clamp(4.6875rem ,0.7913961039rem + 19.4805194805vw ,14.0625rem)) {
    .hero__title {
      font-size: calc(4.6875rem + 9.375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(5.625rem ,2.1185064935rem + 17.5324675325vw ,14.0625rem)) {
    .hero__subtitle {
      font-size: clamp(5.625rem ,2.1185064935rem + 17.5324675325vw ,14.0625rem)
    }
  }
  @supports not (font-size:clamp(5.625rem ,2.1185064935rem + 17.5324675325vw ,14.0625rem)) {
    .hero__subtitle {
      font-size: calc(5.625rem + 8.4375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (gap:clamp(2rem ,1.0909090909rem + 4.5454545455vw ,4.1875rem)) {
    .hero__block {
      gap: clamp(2rem ,1.0909090909rem + 4.5454545455vw ,4.1875rem)
    }
  }
  @supports not (gap:clamp(2rem ,1.0909090909rem + 4.5454545455vw ,4.1875rem)) {
    .hero__block {
      gap: calc(2rem + 2.1875 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (width:clamp(2.8125rem ,2.1891233766rem + 3.1168831169vw ,4.3125rem)) {
    .hero__star {
      width: clamp(2.8125rem ,2.1891233766rem + 3.1168831169vw ,4.3125rem)
    }
  }
  @supports not (width:clamp(2.8125rem ,2.1891233766rem + 3.1168831169vw ,4.3125rem)) {
    .hero__star {
      width: calc(2.8125rem + 1.5 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(1.0625rem ,0.4650974026rem + 2.987012987vw ,2.5rem)) {
    .hero__credo {
      font-size: clamp(1.0625rem ,.4650974026rem + 2.987012987vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.0625rem ,0.4650974026rem + 2.987012987vw ,2.5rem)) {
    .hero__credo {
      font-size: calc(1.0625rem + 1.4375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (gap:clamp(5rem ,4.6103896104rem + 1.9480519481vw ,5.9375rem)) {
    .projects__container {
      gap: clamp(5rem ,4.6103896104rem + 1.9480519481vw ,5.9375rem)
    }
  }
  @supports not (gap:clamp(5rem ,4.6103896104rem + 1.9480519481vw ,5.9375rem)) {
    .projects__container {
      gap: calc(5rem + .9375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.0422077922rem + 11.038961039vw ,11.5625rem)) {
    .projects__container {
      margin-bottom: clamp(6.25rem ,4.0422077922rem + 11.038961039vw ,11.5625rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.0422077922rem + 11.038961039vw ,11.5625rem)) {
    .projects__container {
      margin-bottom: calc(6.25rem + 5.3125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (width:clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)) {
    .projects__card {
      width: clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)
    }
  }
  @supports not (width:clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)) {
    .projects__card {
      width: calc(18.75rem + 7.25 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.5998376623rem + 1.6883116883vw ,1.75rem)) {
    .card-projects__image {
      margin-bottom: clamp(.9375rem ,.5998376623rem + 1.6883116883vw ,1.75rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.5998376623rem + 1.6883116883vw ,1.75rem)) {
    .card-projects__image {
      margin-bottom: calc(.9375rem + .8125 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (width:clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)) {
    .card-projects__image img {
      width: clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)
    }
  }
  @supports not (width:clamp(18.75rem ,15.737012987rem + 15.0649350649vw ,26rem)) {
    .card-projects__image img {
      width: calc(18.75rem + 7.25 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4691558442rem + 0.7792207792vw ,1rem)) {
    .card-projects__title {
      margin-bottom: clamp(.625rem ,.4691558442rem + .7792207792vw ,1rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4691558442rem + 0.7792207792vw ,1rem)) {
    .card-projects__title {
      margin-bottom: calc(.625rem + .375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.1728896104rem + 1.9480519481vw ,2.5rem)) {
    .card-projects__description {
      font-size: clamp(1.5625rem ,1.1728896104rem + 1.9480519481vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.1728896104rem + 1.9480519481vw ,2.5rem)) {
    .card-projects__description {
      font-size: calc(1.5625rem + .9375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.6444805195rem + 7.4025974026vw ,6.6875rem)) {
    .about__container {
      margin-bottom: clamp(3.125rem ,1.6444805195rem + 7.4025974026vw ,6.6875rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.6444805195rem + 7.4025974026vw ,6.6875rem)) {
    .about__container {
      margin-bottom: calc(3.125rem + 3.5625 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-top:clamp(2.4375rem ,0.6712662338rem + 8.8311688312vw ,6.6875rem)) {
    .about__container {
      padding-top: clamp(2.4375rem ,.6712662338rem + 8.8311688312vw ,6.6875rem)
    }
  }
  @supports not (padding-top:clamp(2.4375rem ,0.6712662338rem + 8.8311688312vw ,6.6875rem)) {
    .about__container {
      padding-top: calc(2.4375rem + 4.25 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (padding-bottom:clamp(3.1875rem ,1.1355519481rem + 10.2597402597vw ,8.125rem)) {
    .about__container {
      padding-bottom: clamp(3.1875rem ,1.1355519481rem + 10.2597402597vw ,8.125rem)
    }
  }
  @supports not (padding-bottom:clamp(3.1875rem ,1.1355519481rem + 10.2597402597vw ,8.125rem)) {
    .about__container {
      padding-bottom: calc(3.1875rem + 4.9375 * (100vw - 20rem)/ 48.125)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.8498376623rem + 1.6883116883vw ,3rem)) {
    .block-about__title {
      font-size: clamp(2.1875rem ,1.8498376623rem + 1.6883116883vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.8498376623rem + 1.6883116883vw ,3rem)) {
    .block-about__title {
      font-size: calc(2.1875rem + .8125 * (100vw - 20rem)/ 48.125)
    }
  }
}
@media (max-width:47.99875em) and (min-width:68.125em) {
  .subscribe__input {
    width: 33.125rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:68.125em) {
  @supports (width:clamp(18.75rem ,12.775974026rem + 29.8701298701vw ,33.125rem)) {
    .subscribe__input {
      width: clamp(18.75rem ,12.775974026rem + 29.8701298701vw ,33.125rem)
    }
  }
  @supports not (width:clamp(18.75rem ,12.775974026rem + 29.8701298701vw ,33.125rem)) {
    .subscribe__input {
      width: calc(18.75rem + 14.375 * (100vw - 20rem)/ 48.125)
    }
  }
}
@media (any-hover:hover) {
  .header__button button:hover {
    background: rgba(201,86,255,.75);
    box-shadow: 0 0 .3125rem rgba(201,86,255,.75),0 0 1.5625rem rgba(201,86,255,.75),0 0 3.125rem rgba(201,86,255,.75),0 0 12.5rem rgba(201,86,255,.75);
    color: #000
  }
  .menu__link:hover {
    color: rgba(201,86,255,.75)
  }
  .menu-footer__link:hover {
    color: rgba(201,86,255,.75)
  }
  .subscribe__button:hover {
    background-color: #540b77;
    color: #fff
  }
  .social-footer__link:hover {
    color: rgba(201,86,255,.75)
  }
  .card-projects__image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
  }
  .card-projects__description:hover {
    color: rgba(201,86,255,.75)
  }
}